<div class="tab-pane fade show" id="hoge" role="tabpanel" aria-labelledby="hoge-tab">
    <form role="form" method="POST" action="{{ url_for('mislenious.save_form', page='social') }}">

        {{ basicform.hidden_tag() }}
        {{ basicform.csrf_token }}

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5>学校には親友が何人いる？</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            {{ basicform.frends_internal(placeholder="例:3", class="form-control", **{ "aria-label":"Recipient's username", "aria-describedby":"basic-addon2"}) }}
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">人</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5>学校外に協力してくれる人は何人いる(大人含む)？</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            {{ basicform.frends_external(placeholder="例:3", class="form-control", **{ "aria-label":"Recipient's username", "aria-describedby":"basic-addon2"}) }}
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">人</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="roots" class="container" align="right">
            <div class="row">
                <div class="col justify-content-end">
                    <div class="card-body">
                        <h5>
                            <button type="submit" class="btn btn-success" title="保存" data-toggle="tooltip" data-html="true"　data-placement="left">
                                保存
                            </button>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% if basicform.errors %}
    {{ basicform.errors }}
    {% endif %}
</div>