<div class="tab-pane fade show active" id="okozukai" role="tabpanel" aria-labelledby="okozukai-tab">
    <form role="form" method="POST" action="{{ url_for('mislenious.save_form_list', page='basic') }}">

        {{ moneyform.hidden_tag() }}
        {{ moneyform.csrf_token }}

        <div id="roots" class="container">
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h5>お手伝いとお小遣い
                        </h5>
                    </div>
                </div>
            </div>
            {% for chore in moneyform.chorelist %}            
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        {{ chore.chore(placeholder="例:下の子のお世話", class="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            {{ chore.okozukai(class="form-control", **{ "aria-label":"Recipient's username", "aria-describedby":"basic-addon2"}) }}
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">円</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="roots" class="container" align="right">
            <div class="row">
                <div class="col justify-content-end">
                    <div class="card-body">
                        <h5>
                            {{ moneyform.submit(class="btn btn-success")}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        {% if moneyform.errors %}
            {{ moneyform.errors }}
        {% endif %}
    </form>
</div>