{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body" align='center'>
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>お問合せフォーム</h5>
                                        </div>
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            <ul class=flashes>
                                            {% for category, message in messages %}
                                            <li class="{{ category }}">{{ message }}</li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                        {% endwith %}
                                        <form action="{{ url_for('inqury.complete') }}" method="POST" class="form-horizontal">

                                            {{ form.hidden_tag() }}
                                            {{ form.csrf_token }}

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="name1">お名前</label>
                                                <div class="col-sm-6">
                                                    {{ form.username(class="form-control") }}
                                                </div>
                                            </div>
                                        
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="name">会社名・事業所名</label>
                                                <div class="col-sm-6">
                                                    {{ form.company(class="form-control") }}
                                                </div>
                                            </div>
                                        
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="email">メールアドレス</label>
                                                <div class="col-sm-6">
                                                    {{ form.email(class="form-control") }}
                                                </div>
                                            </div>
                                        
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label" for="ask1">お問い合わせ内容</label>
                                                <div class="col-sm-6">
                                                    {{ form.inqury(class="form-control") }}
                                                </div>
                                            </div>
                                        
                                            <div class="form-group">
                                              <label class="col-sm-3"></label>
                                            <div class="col-sm-9">
                                               <button class="btn btn-default">リセット</button>
                                               <button type="submit" class="btn btn-default">送信する</button>
                                            </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
