{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">

                        <div class="main-body">
                            <div class="page-wrapper">

                                <form role="form" method="POST" action="{{ url_for('profile.save_user_info') }}">

                                    {{ form.hidden_tag() }}
                                    {{ form.csrf_token }}

                                    <!-- [ Main Content ] start -->
                                    <div class="row">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>ユーザ情報編集</h5>
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-sm-6 mb-4">
                                                            <div class="form-group">
                                                                <label for="emailchange">メールアドレス</label>
                                                                <div>{{ email }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 mb-4">
                                                            <div class="form-group">
                                                                <label for="nicknamecnange">ニックネーム</label>
                                                                {{ form.nickname(class="form-control") }}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 mb-4">
                                                            <div class="form-group">
                                                                <label for="addchild">子供用のアカウントを発行する</label>
                                                                {{ form.addchild(class="form-control") }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- [ Main Content ] end -->
                                    <div id="roots" class="container" align="right">
                                        <div class="row">
                                            <div class="col justify-content-end">
                                                <div class="card-body">
                                                    <h5>
                                                        {{ form.submit(class="btn btn-success")}}
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
