<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="{{ url_for('dashboard.index') }}" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">OKOZUKAI (β)</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar" id='accordion_menue'>
                <li class="nav-item pcoded-menu-caption"></li>
                    <div class="main-search">
                        <div class="input-group">
                            <input type="text" id="m-search" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>メインメニュー</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="{{ url_for('dashboard.index') }}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">資本ボード</span></a>
                </li>
                <li data-username="資本設定" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %} ">
                    <a href="#" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span>
                            <span class="pcoded-mtext">資本設定</span></a>
                </li>
                <ul id="menu01" class="list-group">
                    <li data-username="人的資本設定" 
                        class="list-group-item {% if 'profile' in segment %} active {% endif %}">
                        <a href="{{ url_for('setting.human')  }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-user-plus"></i></span>
                                <span class="pcoded-mtext">人的資本設定</span></a>
                    </li>
                    <li data-username="社会資本設定" 
                        class="list-group-item nav-item {% if 'profile' in segment %} active {% endif %}">
                            <a href="{{ url_for('setting.social')  }}" class="nav-link">
                                <span class="pcoded-micon"><i class="feather icon-user-plus"></i></span>
                                    <span class="pcoded-mtext">社会資本設定</span></a>
                    </li>
                    <li data-username="金融資本設定" 
                        class="list-group-item nav-item {% if 'profile' in segment %} active {% endif %}">
                        <a href="{{ url_for('setting.money')  }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-user-plus"></i></span>
                                <span class="pcoded-mtext">金融資本設定</span></a>
                    </li>
                </ul>
                <li data-username="資本運用" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %} ">
                    <a href="#" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span>
                            <span class="pcoded-mtext">資本運用</span></a>
                </li>
                <ul id="menu02" class="list-group">
                    <li data-username="マニ資産運用" 
                    class="list-group-item {% if 'profile' in segment %} active {% endif %} ">
                    <a href="#acod" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span>
                            <span class="pcoded-mtext">お小遣い資産運用</span></a>
                    </li>
                    <li data-username="金融資本を人的資本に変える" 
                        class="list-group-item {% if 'profile' in segment %} active {% endif %} ">
                        <a href="#acod" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-check-circle"></i></span>
                                <span class="pcoded-mtext">金融資本->人的資本</span></a>
                    </li> 
                </ul> 

                <li class="nav-item pcoded-menu-caption">
                    <label>その他</label>
                </li>
                <li data-username="ユーザプロファイル設定" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="{{ url_for('profile.index') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">ユーザ設定</span></a>
                </li>
                <li data-username="FAQ" class="nav-item ">
                    <a href="{{ url_for('faq.index')}}" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-check"></i>
                        </span>
                        <span class="pcoded-mtext">FAQ</span>
                    </a>
                </li>    
                <li data-username="Support Page" class="nav-item ">
                    <a href="{{ url_for('inqury.index')}}" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-mail"></i>
                        </span>
                        <span class="pcoded-mtext">お問い合せ</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
