<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="#" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Udemy-Flask</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar" id='accordion_menue'>
                <li class="nav-item pcoded-menu-caption"></li>
                    <div class="main-search">
                        <div class="input-group">
                            <input type="text" id="m-search" class="form-control" placeholder="Search">
                        </div>
                    </div>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>メインメニュー</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">お金</span></a>
                </li>
                    <li data-username="" 
                    class="list-group-item {% if 'profile' in segment %} active {% endif %} ">
                    <a href="{{ url_for('mislenious.index') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-bar-chart"></i></span>
                            <span class="pcoded-mtext">雑多フォーム</span></a>
                    </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>その他</label>
                </li>  
                <li data-username="Support Page" class="nav-item ">
                    <a href="{{ url_for('inqury.index') }}" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-mail"></i>
                        </span>
                        <span class="pcoded-mtext">お問い合せ</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
