<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Flask Datta Able - {% block title %}{% endblock %} | AppSeed
    </title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="ここにサイトの説明を入れます"/>
    <meta name="keywords"
          content="ここにサイトのキーワードをスペース区切りで入れます。"/>
    <meta name="author" content="CodedThemes"/>

    <meta content='https://udemy-flask-sample.top/' property='og:url'>
    <meta content='udemy-flask-sample' property='og:site_name'>
    <meta content='udemy-flask-sample' property='og:title'>

    <!-- Favicon icon -->
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome/css/fontawesome-all.min.css') }}">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/plugins/animation/css/animate.min.css') }}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <!-- dark mode css2 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dark.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/pages/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap-datepicker.min.css') }}">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    {% include 'includes/sidebar.html' %}

    {% include 'includes/navigation.html' %}
    
    {% block content %}{% endblock content %}

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
